aubio==0.4.9
google_api_python_client==2.70.0
google_auth_oauthlib==0.4.6
httplib2==0.21.0
moviepy==1.0.3
numpy==1.22.4
protobuf==4.21.12
pydub==0.25.1
python-dotenv==0.21.0
spleeter==2.3.2
spotipy==2.21.0
tensorflow==2.10.0
youtube_search_python==1.6.6
yt_dlp==2022.11.11